{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
  document.getElementById("menu-about").className = "active";
</script>
<style media="screen">
  h1 {
    font: 22px helvetica;
    text-align: center;
    font-weight: bold;
  }
</style>
<h1>Application created by Alexander D for test task.</h1>
<div id="description">
  <p>
    When this application starts, it takes .json file from
     <a href="http://media.mongodb.org/zips.json">http://media.mongodb.org/</a>
    and loads it into MongoDB.
    On each request to home directory of the application, it sends POST ajax request to
    backend. Request is been handled with flask, that asks MongoDB for 20 most populated cities,
    stored in it. After this operation, response with a json, containing data for graph,
    is send to the client, where nvd3.js transforms it into a visible graphs.
  </p>
  <p>GitHub repository - <a href="https://github.com/TorYohanson/flask_tt">Flask test task</p>
</div>
<style media="screen">
  #description{
    font: 18px helvetica;
    word-wrap: break-word;
    text-align: left;
    width: 80%;
    margin-left: 5%;
  }
</style>
{% endblock %}
